@{
    ViewData["Title"] = "Admin";
    Layout = "_LayoutAdmin";
}
@section CssAdmin {
    <link rel="stylesheet" href="~/assets/css/admin/styleListProduct.css" />
}


<body class="dark-theme">

    <div id="main-content">
        <div class="main-container">
            <div class="header">
                <h1>Danh sách sản phẩm</h1>
            </div>
            <div id="list-product-container">
                <a class="btn btn-primary btn-customize px-5 py-2 mb-2"
                   href="#" role="button">Thêm</a>
                <div class="product-list">

                    <table id="myTable" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Ảnh</th>
                                <th>Sản phẩm</th>
                                <th>ID sản phẩm</th>
                                <th>Giá</th>
                                <th>Tổng kho</th>
                                <th>Bán ra</th>
                                <th>Tồn kho</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>Temp</td>
                                <td>Temp</td>
                                <td>Temp</td>
                                <td>Temp</td>
                                <td>Temp</td>
                                <td>Temp</td>
                                <td>Temp</td>
                                <td>
                                    <a class="btn btn-success btn-customize" href="#" role="button">Chỉnh sửa</a>

                                    <a class="btn btn-danger btn-customize"
                                       href="#" role="button">Xóa</a>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>