@{
    ViewData["Title"] = "Danh sach don hang";
    Layout = "_LayoutAdmin";
}

@section CssAdmin{
    <link rel="stylesheet" href="~/assets/css/admin/styleOrderlist.css" />
}

<body class="dark-theme">
  
    <div id="main-content">
        <div class="main-container">
            <div class="header">
                <h1>Danh sách đơn hàng</h1>
            </div>
            <div id="list-order-container">
                <div class="order-list">
                    <table id="myTable" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID đơn hàng</th>
                                <th>IDDN</th>
                                <th>Tên khách hàng</th>
                                <th>Số điện thoại</th>
                                <th>Ngày đặt</th>
                                <th>Địa chỉ nhận</th>
                                <th>Tổng tiền</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>Temp</td>
                                <td>Temp</td>
                                <td>Temp</td>
                                <td>Temp</td>
                                <td>Temp</td>
                                <td>Temp</td>
                                <td>Temp</td>
                                <td>
                                    <a class="btn btn-info btn-customize"
                                       href="#" role="button">Xem chi tiết</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>